.theme-dark .header, .header-dark .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
padding:15px;
z-index: 99999999;
display: flex;
align-items: center;
justify-content: space-between;
&__left {
    display: flex;
align-items: center;
    .menu-toggler {
        background: transparent;
        color: $white;
        font-size: 20px;
        border: 0 !important;
        outline: none !important;
        display: flex;
align-items: center;
margin-right: 2px;
text-shadow: 1px 1px 5px #000;
    }
    .logo {
        width: 30px;
        display: inline-block;
        img {
            width: 100%;
        }
        .logo-light {
            display: block !important;
        }
        
    }
}
&__right {
    display: flex;
    align-items: center;
    .search-toggler {
        background: transparent;
        color: $white;
        font-size: 20px;
        border: 0 !important;
        outline: none !important;
        display: flex;
        align-items: center;
        text-shadow: 1px 1px 5px #000;
    }
}
}


.theme-light .header, .header-light .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

padding:15px;
z-index: 99999999;
display: flex;
align-items: center;
justify-content: space-between;
&__left {
    display: flex;
align-items: center;
    .menu-toggler {
        background: transparent;
        color: $black;
        font-size: 20px;
        border: 0 !important;
        outline: none !important;
        display: flex;
align-items: center;
margin-right: 2px;

    }
    .logo {
        width: 30px;
        display: inline-block;
        img {
            width: 100%;
        }
        .logo-dark {
            display: block !important;
        }
        
    }
}
&__right {
    display: flex;
    align-items: center;
    .search-toggler {
        background: transparent;
        color: $black;
        font-size: 20px;
        border: 0 !important;
        outline: none !important;
        display: flex;
        align-items: center;

    }
}
}


/* sliding side menu */
.menuBackground {
    position: fixed;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 99999999999;
}
.sideMenu {
    position: fixed;
    width: 100%;
    max-width: 320px;
    left: -320px;
    top:0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    color: #000;
    z-index: 999999999999;
    -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
.closeMenu {
    background: transparent !important;
    padding:15px 15px 8px 15px;
    color: #000;
    border:none !important;
    font-size: 20px;
    outline: none !important;
}
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            display: block;
            border-bottom: #ececec solid 1px;
            a {
                display: block;
                padding: 8px 15px;
                color: #444444;
                
            }
            &:hover a, &.active a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}
.menuOpen .menuBackground {
    display: block;
}
.menuOpen .sideMenu {
    left: 0;
}
/* search popup */
.searchPopup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    padding:15px;
    padding-top: 60px;
   display: none;
    z-index: 99999999999;
    
    .closeSearch {
        background: transparent !important;
    padding:15px 15px 8px 15px;
    color: #000;
    border:none !important;
    font-size: 20px;
    outline: none !important;
    position: absolute;
    top:0;
    right: 0;
    }
    form {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        input {
            box-shadow: none !important;
            border-color: #ccc !important;
        }

    }
}
.searchOpen .searchPopup {
    display: block;
}