.newInList{

    a{
        display: table;
        min-height: 25vh;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        padding:30px;
        text-decoration: none !important;

        
        span{
            width: 100%;
            font-size: 20px;
            line-height: 1.2;
            color: #fff!important;
            text-shadow: 1px 1px 1px #000;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    @media (orientation: landscape) {
        & {
            a {
                height: 50vh;
            }
        }
      }
      @media (min-width: 768px) {
        & {
            a {
                span {
                        font-size: 78px;
                }
            }
        }
      }
}
//newInDetail.SCSS//
.newInDeatailList{

    a {
        display: block;
        min-height: 25vh;
        width: 100%;
        text-decoration: none !important;

        img {

            width: 100%;
            background-size: cover !important;
            background-position: center !important;
            
            
        }
        .description{
            padding: 40px;
            h3 {

                color:#000;
                text-align: center;
            }
            p {
                text-align: center;
                color: #000;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }    
    
        
    
    @media (min-width: 768px) {
        & {
            a {
                margin-left: auto;
                margin-right: auto;
                max-width: 700px;
                h3 {

                    font-size: 52px;
                    font-weight: 500
                }
                p {
                    
                    font-size: 30px;
                    font-weight: 200;
                }
            
            }
        }
      }
      @media (orientation: landscape) {
        & {
            a {
               
                h3 {

                    font-size: 36px;
                    font-weight: 500
                }
                p {
                    
                    font-size: 16px;
                    font-weight: 200;
                }
            
            }
        }
      }  
    
}
//collectionsList.SCSS//    
.collectionsList{

    a{
        display: table;
        min-height: 25vh;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        padding:30px;
        text-decoration: none !important;

        
        span{
            
            display: table-cell;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            img {
                height: 70px;
            }
        }
    }
    @media (orientation: landscape) {
        & {
            a {
                height: 50vh;
                span {
                    img{
                        height: 200px;
                     }
                }
            }
            
        }
      }
      @media (min-width: 768px) {
        & {
            a {
                span {
                    img{
                        height: 150px;
                     }
                }
            }
        }
      }
      @media (min-width: 1200px) {
        & {
            a {
                height: 100vh;
                span {
                    img {
                        height: 250px;
                        
                }
                }
            }
        }
      }
}

/*  collection room  */
.collectionRoom {
    a {
    width: 100%;
    height: 50vh;
    background-size: cover !important;
    background-position: center !important;
    display: block;
}
@media (min-width: 768px) {
    & {
        a {height: 100vh;}
    }
}
}

/* single room */
.singleRoom {
    img {
        width: 100%;
    }
    h1 {
        text-transform: uppercase;
        color: #000;
        font-size: 20px;
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
    }
    &__items {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    &__item {
        margin-bottom: 30px;
        text-align: center;
        a {
            display: block;
            text-decoration: none !important;
            img {
                width: 100%;
                margin-bottom: 20px;
            }
            h2 {
                color: #000 !important;
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }
    @media (min-width:992px) {
        & {
            & > img {
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            h1 {
                font-size: 34px;
            }
            &__item {
                a {
                    h2 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
/* singleProduct */
.singleProduct-page {

    .singleproductImage {
        border-bottom: 2px solid #000;
    
        img{
            width: 100%;
        }
    }
    .singleProductDetail {
        padding: 30px;
        padding-bottom: 60px;
        .bordered {
            border-right: 1px solid black;
        }
        h1 {
            font-size: 24px;
            text-transform: uppercase;
            color: #000;
        }
        h2 {
            font-size: 18px;
            text-transform: uppercase;
            color: #000;
        }
        .leftSide-details {
            margin: 16px 0px;
            color: #000;
            
        }
        .rightSide-details {
            margin: 16px 0px;
            color: #000;
        }
    }
    .singleProductDescription {
        margin: 16px 0px;
        p{
            font-size: 16px;
            color: #000;
        }
    }
    .btn {
        border: 1px solid #000;
        font-size: 12px;
        padding: 16px 40px;
        color: #000;
        position: relative;
    }
    .btn:after {
        content: "";
        position: absolute;
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        border: #000 solid 4px;
    }
    @media (min-width:768px) {
        & {
            display: flex;
            align-items: center;
            
            .singleproductImage {

                width: 50%;
                border: none;
                
            
            }
            .singleProductDetail {
                padding-top: 60px;
                padding-bottom: 30px;
                width: 50%;
                
                max-width: 400px;
                
            }

         }

    }
}
/*info-page */
.info-page {
    background-image: url(../img/info-bg.jpg);
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        text-transform: uppercase;
        color: #000;
        font-size: 22px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    ul {

        padding: 0px;
        margin: 0;
        li {
            list-style-type: none;
            text-decoration: none;
            padding: 8px 0px;
            margin-left: 27px;
            
            a {
                color: black;
                text-decoration: none;
                font-size: 22px;
            }
        }
    }
    .info-social {
        padding-top: 150px;
        a {
            color: black;
            text-decoration: none;
            margin: 4px 0px;
            display: block;
            margin-left: 40px;
        }
    }
    @media (min-width:768px) {
        & {
            h1{
                font-size: 32px;
            }
            ul{
                li{
                    margin-left: 40px;
                }
            }
        }
    }
}

/*contact-us-page */
.contact-us-page {
    background-image: url(../img/contact-us-bg.jpg);
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        text-transform: uppercase;
        color: #000;
        font-size: 22px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .contact-form {
        width:100%;
        text-align: center;
        input {
            background: transparent;
            border:none;
            border-bottom:#000 solid 1px;
            box-shadow: none !important;
            text-align: center;
            width:100%;
            margin-bottom: 20px;
            padding:10px;
        }
    }
    ul {

        padding: 0px;
        margin: 0;
        li {
            list-style-type: none;
            text-decoration: none;
            padding: 1px 0px;
            color: black;
            text-decoration: none;
            font-size: 16px;
            span{
                padding-right: 6px;

            }
        }
        
    }
    .flag-ship-store,.HQ-design-studio {
        margin: 8px 0;

        
        h5{
            color: black;
            font-size: 14px;
            border-bottom: 1px solid black;
            display: inline;
            padding-bottom: 2px;
            
        }
        span{
            display: block;
            color: #000;
            font-size: 12px;
        }
    }
    .info-social {
        padding-top: 130px;
        a {
            color: black;
            text-decoration: none;
            margin: 4px 0px;
            display: block;
    
        }
    }
    @media (min-width:768px) {
        & {
            h1{
                font-size: 32px;
            }
            ul{
                li{
             
                }
            }
            .flag-ship-store,.HQ-design-studio {
                margin: 8px 0;
            
                
            }
            .info-social {
                padding-top: 100px;
                a {
                  
                }
            }
        }
    }
}
/*mediaPage*/
.mediaList{

    a{
        display: table;
        min-height: 50vh;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        padding:30px;
        text-decoration: none !important;

        
        span{
            width: 100%;
            font-size: 20px;
            line-height: 1.2;
            color: #fff!important;
            text-shadow: 1px 1px 1px #000;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }
    }

      @media (min-width: 768px) {
        & {
           display: flex;
            a {
                width: 50%;
                height: 100vh;
                span {
                        font-size: 78px;
                }
            }
        }
      }
}
/*mediaDeatail */
.mediaDetail {
    img {
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
    }
    .mediaDetail-description {
        background-color: #fff;
            p {
                font-size: 36px;
                text-align: center;
                color: black;
                padding: 30px 0px;
                border-bottom: 3px solid black;
                border-top: 1px solid grey;
                margin-bottom: 0px;

            }
        }

      @media (max-width: 767px) {
        & {
           
            img {
                width: 100%;
             
               
            }
            .mediaDetail-description {
            
                    p {
                        font-size: 26px;
        
                    }
                }
        }
      }
}
/*event-page */
.event {
    overflow-x: hidden;
    .event-description {
        background-color: #fff;
            p {
                font-size: 36px;
                text-align: center;
                color: black;
                padding: 60px 20px;
                border-top: 2px solid black;
                margin-bottom: 0px;
                text-transform: uppercase;

            }
            
        }
        .slider-img{ 
            vertical-align: middle;
            img{
           
        }
    }
        .slider-img, .slider-nav-img{ 
            img {
            width: 100%;
             }
        }
        .slick-dotted.slick-slider {
            border-top: 1px solid black;
            margin-bottom:0px ;

        }
        .slick-dots{
            display: none;
        }
        .slick-next {
            right:15px;
            width: 35px;
    height: 35px;
    border:#fff solid 2px;
   border-radius: 50%;
   padding-left:5px;
        &:before {
            content: '⮞';
            font-size: 25px;
            color:#fff;
            opacity: 1;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.26);
        }
    }
        .slick-prev{
            left:15px;
            width: 35px;
    height: 35px;
    border:#fff solid 2px;
    border-radius: 50%;
    z-index: 2;
    padding-right: 5px;
        &:before {
            content: '⮜';
            font-size: 25px;
            color:#fff;
            opacity: 1;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.26);
        }
    }
      @media (max-width: 767px) {
        & { 
            img {
                width: 100%;
               
            }
            .slider-img img {
                width: 100%;
               
            }
            .slider-nav-img img {
                width: 100%;
               
            }
            .event-description {
            
                    p {
                        font-size: 20px;
                    }
                }
        }
      }
}

.portfolioList{

    a{
        display: table;
        min-height: 25vh;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        padding:30px;
        text-decoration: none !important;

        
        span{
            width: 100%;
            font-size: 20px;
            line-height: 1.2;
            color: #fff!important;
            text-shadow: 1px 1px 1px #000;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    @media (orientation: landscape) {
        & {
            a {
                height: 50vh;
            }
        }
      }
      @media (min-width: 768px) {
        & {
            a {
                span {
                        font-size: 78px;
                }
            }
        }
      }
}
//portfolio.SCSS//

.portfolioSlider {
 
        .slider-img{ 
            vertical-align: middle;
            img{
           
        }
    }

        .slick-next {
            right:15px;
            width: 35px;
    height: 35px;
    border:#fff solid 2px;
   border-radius: 50%;
   padding-left:5px;
   background: rgba(0, 0, 0, 0.26);
        &:before {
            content: '⮞';
            font-size: 25px;
            color:#fff;
            opacity: 1;

        }
        &:hover {
            background: rgba(0, 0, 0, 0.50);
        }
    }
        .slick-prev{
            left:15px;
            width: 35px;
    height: 35px;
    border:#fff solid 2px;
    border-radius: 50%;
    z-index: 2;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.26);
        &:before {
            content: '⮜';
            font-size: 25px;
            color:#fff;
            opacity: 1;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.50);
        }
    }
  
}
.portfolioDescription {
    padding: 40px;
    h3 {

        color:#000;
        text-align: center;
    }
    p {
        text-align: center;
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }   
}